
.link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 50ms linear 0s;
}

.link:hover {
    transform: translateY(-1px);
    border-bottom-color: white;
    border-bottom-width: 50%;
    
}

.link:visited {
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}