@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.cardList {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px rgb(255, 255, 255), inset -2px -2px 2px rgba(255, 255, 255, 0.651);
    }
    &::-webkit-scrollbar-track {
        background: linear-gradient(90deg,#e3e2e4,#e7e7e7 1px,#d7d6d8 0,#dbdadd);
    }
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

    box-shadow: -1rem 0 3rem gray;
    transition: .2s;
    &:hover {
        transform: translateY(-1rem);
    }
    &:hover~.card {
        transform: translateX(130px);
    }
    &:not(:first-child) {
        margin-left: -130px;
    }

}

.cardAuthor {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
    color: white;
}

.authorAvatarImg {
    display: block;
    width: 40px;
    font-weight: bold;
    height: 40px;
    border-radius: 50%;
    margin: 16px 10px;
}

.halfCircle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: whitesmoke;
    stroke-width: 8;
    stroke-linecap: round;
}

.cardHeader {
    margin-bottom: auto;
    a {
        text-decoration: none;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        margin: 0 0 1rem;
        color: white;
    }
    h2 {
        font-size: 2rem;
        margin: .25rem 0 auto;
        text-decoration: none;
        cursor: pointer;
        background: white;
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-clip: text;
        border-color: black;
        
    }

}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
    a {
        font-style: normal;
        font-weight: 700;
        font-size: .5rem;
        color: white;
        text-transform: uppercase;
        font-size: .66rem;
        border: 3px solid whitesmoke;
        border-radius: 2rem;
        padding: .2rem .85rem .25rem;
        position: relative;
        
    }

}
