body {
    font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0 auto;
    background: #fff;
    color: #333;
}

li,
p {
    line-height: 1.5rem;
}

a {
    font-weight: 500;
}

hr {
    border: 1px solid #ddd;
}
