.feature {
    z-index: 1;
    box-shadow: 10px  black;
    &:hover {
        border-style: solid;
        border-width: 2px;
        border-color:#6B46C1;
        transform: translateY(-10px);
        transition: .2s;
        //transform: scale(1.15);
        
    }
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.containerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
